# --- Compilación y Artefactos ---
**/target/
target/
*.class
*.jar
*.war
*.ear
*.jar.original

# --- Archivos de Sistema y Logs ---
*.log
.DS_Store
Thumbs.db
hs_err_pid*
replay_pid*

# --- Configuración Local y Secretos ---
.env
.env.*
!.env.example
*.lst

# --- Editores e IDEs (VS Code, IntelliJ, Eclipse) ---
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath
bin/

# --- Docker ---
.docker/